@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: rgb(94, 94, 94);
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    h1 {
        text-transform: uppercase; 
        font-size: 34px;
    }
}